.example-woocommerce-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

.example-woocommerce-block .myProduct {
    width: 29%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 10px;
}

.example-woocommerce-block .myProduct img {
    width: 100%;
    height: auto;
}

.example-woocommerce-block .myProduct h2 {
    font-size: 16px;
    margin: 10px 0;
    text-decoration: none;
}

.example-woocommerce-block .myProduct a {
    text-decoration: none;
    outline: none;
}

.example-woocommerce-block .myProduct .price {
    font-size: 14px;
    color: #888;
}

.example-woocommerce-block .myProduct .add-to-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.example-woocommerce-block .myProduct .add-to-cart .add_to_cart_button{
    outline: none;
    width: 100px;
}

.example-woocommerce-block .myProduct .add-to-cart .added_to_cart{
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.star-rating-container .star-rating {
    display: inline-block;
    color: #ffb400; /* Gold color for stars */
    font-size: 1.2em; /* Adjust size as needed */
}

.star-rating-container .star-rating::before {
    content: "\f005 \f005 \f005 \f005 \f005"; /* Unicode characters for star */
    font-family: "FontAwesome"; /* FontAwesome for stars */
}

.star-rating-container .star-rating span {
    overflow: hidden;
    position: relative;
    display: block;
}

.star-rating-container .star-rating span:before {
    content: "\f005 \f005 \f005 \f005 \f005"; /* Unicode characters for star */
    font-family: "FontAwesome"; /* FontAwesome for stars */
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
}
.star-rating {
    color: #FFD700;
    font-size: 1.2em; 
    margin-bottom: 5px; 
}
.rating-text {
    margin-bottom: 10px;
}

