.wp-block-wpdev-product-parade-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wp-block-wpdev-product-parade-block #product-sort{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 83, 83);
    border: rgb(1, 83, 83) 1px solid;
    outline: none;
    padding: 5px;
}
.wp-block-wpdev-product-parade-block .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    gap: 5px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product.content-position-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product.content-position-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product.content-position-top .product-contents{
    order: -1;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product.content-position-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product.content-position-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product.content-position-left .product-contents{
    order: -1;
}


.wp-block-wpdev-product-parade-block .product-container .ppb-product img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .product-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .product-contents h2 {
    margin: 10px 0;
    text-decoration: none;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product  a {
    text-decoration: none;
    outline: none;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .add-to-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .on-sale-label{
    position: absolute;
    color: #fff;
    background-color: rgb(1, 83, 83);
    padding: 2px 5px;
    width: 164px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .on-sale-label.position-topLeft{
    top: 15px;
    left: -48px;
    transform: rotate(-35deg);
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .on-sale-label.position-topRight{
    top: 15px;
    right: -48px;
    transform: rotate(35deg);
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .on-sale-label.position-bottomLeft{
    bottom: 15px;
    left: -48px;
    transform: rotate(35deg);
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .on-sale-label.position-bottomRight{
    bottom: 15px;
    right: -48px;
    transform: rotate(-35deg);
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .add-to-cart a{
    outline: none;
    width: 100px;
}

.wp-block-wpdev-product-parade-block .product-container .ppb-product .add-to-cart .added_to_cart{
    margin: 0;
    padding: 0;
    text-decoration: underline;
    background: none;
    color: rgb(1, 83, 83);
}



.product-parade-block-rating-area {
    position: relative;
    width: fit-content;
}

.product-parade-block-rating-area .filled-icons{
    display: flex;
}

.product-parade-block-rating-area .empty-icons{
    display: flex;
}

.product-parade-block-rating-area .filled-icons {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}