.example-woocommerce-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;

    .myProduct {
        width: 29%;
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid #e3e3e3;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }

        h2 {
            font-size: 16px;
            margin: 10px 0;
            text-decoration: none;
        }

        .price {
            font-size: 14px;
            color: #888;
        }

        .add_to_cart_button{
            margin-top: 16px;
            outline: none;
            width: 132px;
        }
    }
}
