.wp-block-wpdev-product-parade-block {
    .add_to_cart_button{
        margin-top: 16px;
        outline: none;
        width: 132px;
    }
}

.product-parade-block-tab-panel{

    .product-parade-block-layouts{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        >.product-parade-block-layout{
            >.product-parade-block-layout-icon-area{
                border: 2px solid rgb(139, 143, 143);
                width: fit-content;
                padding: 0px 8px;
                border-radius: 5px;
                cursor: pointer;
                position: relative;

                &.active{
                    border: 2px solid rgb(1, 56, 14);
                }

                img{
                    width: 80px;
                }
                .layout-yes-icon{
                    color: rgb(1, 56, 14);
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }
            }
            .layout-label{
                text-align: center;
                color: rgb(0, 47, 47);
                font-weight: 500;
                margin: 0;
            }
        }
    }

	> .components-tab-panel__tabs{
		.components-button{
			background-color: #e8e8e8;
			color: #000000;
			border-bottom: 2px solid rgb(25, 0, 79);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			.product-parade-block-tab-panel-title{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;
			}
			&.product-parade-block-active-tab{
				background-color: rgb(1, 56, 14);
				color: white;
			}
		}
	}
    .product-parade-block-tabs-content{
        padding: 20px;        
    }
    .components-panel__body .components-button:focus {
    outline: none;
    box-shadow: none;
    }
    .components-form-toggle:focus{
            outline: none;
    }
    .product-parade-block-button-group{
        background-color: #f3f3f3;
        padding: 10px;
        display: flex;
        border: 1px solid grey;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 20px;
        >.product-parade-block-sidebar-button{
            &.active-button{
                background-color: rgb(1, 56, 14);;
                color: #fff;
                outline: none;
            }
            color: rgb(1, 56, 14);;
            font-weight: 500;
            text-align: center;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            outline: none;
        }
        .components-button:focus{
            outline: none;
            box-shadow: none;
        }
    }

    .product-parade-block-sidebar-label-text{
        font-size: 13px;
        color: #444444;
        font-weight: 500;
        margin: 5px auto;
    }
    .block-editor-panel-color-gradient-settings{
        padding: 0px;
        margin-bottom: 10px;
    }
    .components-range-control{
        margin-top: 20px;
    }

    // .block-editor-panel-color-gradient-settings{
    //     padding: 0px;
    //     margin-bottom: 40px;
    // }

}