/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-wpdev-example-dynamic-block {
// 	.mySwiper{
// 		height: 500px;
// 		width: 600px;
// 	}
// 	height: 500px;
// 	width: 600px;
// 	justify-content: center;
// 	align-items: center;
// 	padding: 2px;
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// 	display: flex;
// 	gap: 30px;
// 	li{
// 		background-color: #9a9999;
// 	    color: #fff;
// 		padding: 10px 40px;
// 		height: 500px;
// 		width: 600px;
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 		h4{
// 			font-size: 20px;
// 			margin: 0 0 5px;
// 			line-height: 1.4;
// 			text-decoration: none;
// 			a{
// 				color: #000;
// 				text-decoration: dashed;
// 			}
// 		}
// 		time{
// 			font-size: 12px;
// 			color: #ebebeb;
// 		}
// 		p{
// 			font-size: 14px;
// 			color: #303030;
// 			line-height: 1.6;
// 			margin: 15px 0 0;
// 		}
// 	}
// }


/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-wpdev-example-dynamic-block {
	.mySwiper{
		height: 500px;
		width: 600px;
	}
	height: 500px;
	width: 600px;
	justify-content: center;
	align-items: center;
	padding: 2px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 30px;
	.edb-post-carousel{
		background-color: #9a9999;
	    color: #fff;
		padding: 10px 40px;
		height: 500px;
		width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h4{
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.4;
			text-decoration: none;
			a{
				color: #000;
				text-decoration: dashed;
			}
		}
		time{
			font-size: 12px;
			color: #ebebeb;
		}
		p{
			font-size: 14px;
			color: #303030;
			line-height: 1.6;
			margin: 15px 0 0;
		}
	}
}
